<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page_globals.blog_page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/mylkblog/css/page.css') }}" />
</head>

<body>
    <div id="page">
        <div id="page-header">
            <hgroup>
                <h1 class="site-title"><span><a href="{{ path("homepage") }}">{{ page_globals.blog_title }}</a></span></h1>
                <h2 class="site-description">{{ page_globals.blog_description }}</h2>
            </hgroup>

            {% if page_globals.blog_main_image_visible %}
            <a href="{{ path('homepage') }} ">
                <img src="/img/{{ page_globals.blog_main_image }}" width="1000" height="288" alt="" />
            </a>
            {% endif %}

            <form id="search-form" method="POST" action="{{ path('search') }}">
                <input type="text" name="term" id="term" placeholder="Search" />
                <input type="submit" name="Search" />
            </form>

            <div class="menu">
                {{ render(controller("MylkBlogBundle:Default:renderMenu")) }}
            </div>
        </div>
        <div id="main">
            <div id="primary">
                {% block content %}
                {% endblock content %}
            </div>

            <div class="widget-area">
                {{ render(controller("MylkBlogBundle:Default:renderWidgets")) }}
            </div>
        </div>

        <footer>
            <div class="colophon">
                Proudly created with <img src="{{ asset('/img/symfony-logo.svg') }}" />
            </div>
        </footer>
    </div>
    </body>
</html>