<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Blog Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
</head>
<body>
    <span id="markerTheme" class="hidden"></span>
    <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="#">Blog Admin</a>
            <ul class="nav">
                <li><a href="{{ path('admin_post_list') }}">Posts</a></li>
                <li><a href="{{ path('admin_post_new') }}">New Post</a></li>
                <li><a href=#>|</a></li>
                <li><a href="{{ url('admin_category_list') }}">Categories</a></li>
                <li><a href="{{ url('admin_category_new') }}">New Category</a></li>
                <li><a href=#>|</a></li>
                <li><a href="{{ url('admin_tag_list') }}">Tags</a></li>
                <li><a href="{{ url('admin_tag_new') }}">New Tag</a></li>
                <li><a href=#>|</a></li>
                <li><a href="{{ url('admin_comment_list') }}">Comments</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="{{ path('admin_logout') }}">Logout</a></li>
            </ul>    
          </div>
        </div>
            
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>

        <div id="footer">
        </div>
    </div>
</body>
</html>