{% extends "::baseAdmin.html.twig" %}

{% block content %}
    {% for error in app.session.flashbag.get("error") %}
        <div class="alert alert-error">
            {{ error }}
        </div>
    {% endfor %}
        
    {% for success in app.session.flashbag.get("success") %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endfor %}

    <form method="POST" action="{{ app.request.requestUri }}">
        <table width="100%">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Content</th>
                <th>Created At</th>
                <th>Created By</th>
                <th>Updated At</th>
                <th>Updated By</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td width="30"><input type="checkbox" name="delete[]" value="{{ post.id }}" /></td>
                <td width="150">
                    <a href="{{ path('admin_post_edit', { postId: post.id }) }}">
                        {{ post.title | slice(0, 15) }}{% if post.title | length > 15 %}...{% endif %}
                    </a>
                </td>
                <td>
                    {{ post.content | slice(0, 55) }}{% if post.content | length > 55 %}...{% endif %}
                </td>
                <td width="150" align="center">{{ post.createdAt | date("Y-m-d H:i:s") }}</td>
                <td width="100" align="center">{{ post.createdBy.username }}</td>
                <td width="150" align="center">
                    {% if post.updatedAt is not null %}
                        {{ post.updatedAt | date("Y-m-d H:i:s") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td width="100" align="center">
                    {% if post.updatedBy is not null %}
                        {{ post.updatedBy.username }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr><td colspan="100%">&nbsp;</td></tr>
            <tr><td colspan="100%"><input type="submit" value="Delete" /></td></tr>
        </table>
    </form>
{% endblock %}