<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ pageGlobals.blogPageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/page.css') }}" />
</head>

<body>
    <div id="page">
        <div id="page-header">
            <hgroup>
                <h1 class="site-title"><span><a href="{{ path("homepage") }}">{{ pageGlobals.blogTitle }}</a></span></h1>
                <h2 class="site-description">{{ pageGlobals.blogDescription }}</h2>
            </hgroup>

            <a href="{{ path('homepage') }} ">
                <img src="/img/{{ pageGlobals.blogMainImage }}" width="1000" height="288" alt="" />
            </a>

            <form id="search-form" method="GET" action="{{ path('search') }}">
                <input type="text" class="field" name="term" id="term" placeholder="Search" />
                <input type="submit" />
            </form>

            <div class="menu">
                <ul>
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#">Parent item</a>
                        <ul class='children'>
                            <li>
                                <a href="#">Child item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="primary">
                {% block content %}
                <article>
                    <div class="post-header">
                        <h1 class="post-title"><a href="#">Hello world!</a></h1>
                        <div class="post-info">Posted on 21 June, 2014 by admin</div>
                    </div>

                    <div class="post-content">
                        <p>This is the post body.</p>
                    </div>

                    <div class="post-info">
                        Category: <a href="#">Uncategorized</a>
                        |
                        Tags: <a href="#">A tag</a>
                        |
                        <a href="#">Comment</a> <a href="#">(1)</a>
                    </div>
                </article>
                {% endblock content %}
            </div>

            <div class="widget-area">
                <div class="widget">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">First Category</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h3>Recent Comments</h3>
                    <ul>
                        <li>Mr. Mister on <a href="#">Hello world!</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h3>Archives</h3>
                    <ul>
                        <li><a href='#'>June 2014</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <div class="colophon">
                Proudly created with <img src="{{ asset('/img/symfony-logo.svg') }}" />
            </div>
        </footer>
    </div>
    </body>
</html>