<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ pageGlobals.blogPageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/page.css') }}" />
</head>

<body>
    <div id="page">
        <div id="page-header">
            <hgroup>
                <h1 class="site-title"><span><a href="{{ path("homepage") }}">{{ pageGlobals.blogTitle }}</a></span></h1>
                <h2 class="site-description">{{ pageGlobals.blogDescription }}</h2>
            </hgroup>

            {% if pageGlobals.blogMainImageVisible %}
            <a href="{{ path('homepage') }} ">
                <img src="/img/{{ pageGlobals.blogMainImage }}" width="1000" height="288" alt="" />
            </a>
            {% endif %}

            <form id="search-form" method="GET" action="{{ path('search') }}">
                <input type="text" class="field" name="term" id="term" placeholder="Search" />
                <input type="submit" />
            </form>

            <div class="menu">
                <ul>
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#">Parent item</a>
                        <ul class='children'>
                            <li>
                                <a href="#">Child item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="primary">
                {% block content %}
                {% for post in pagination %}
                <article>
                    <div class="post-header">
                        <h1 class="post-title"><a href="{{ path('post', { postid: post.id }) }}">{{ post.title }}</a></h1>
                        <div class="post-info">Posted on {{ post.createdAt }} by <a href="mailto:{{ post.user.email }}">{{ post.user.username }}</a></div>
                    </div>

                    <div class="post-content">
                        <p>{{ post.content | raw }}</p>
                    </div>

                    <div class="post-info">
                        Category: <a href="#">{{ post.category.title }}</a>
                        |
                        Tags: <a href="#">{{ post.tag.title }}</a>
                        |
                        <a href="#">Comment</a> <a href="#">(?)</a>
                    </div>
                </article>
                {% endfor %}
                    
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                {% endblock content %}
            </div>

            <div class="widget-area">
                <div class="widget">
                    <h3>Categories</h3>
                    <ul>
                        {% for category in categories %}
                        <li><a href="{{ path('category', { categoryid: category.id }) }}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget">
                    <h3>Recent Comments</h3>
                    <ul>
                        <li>Mr. Mister on <a href="#">Hello world!</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h3>Archives</h3>
                    <ul>
                        <li><a href='#'>June 2014</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <div class="colophon">
                Proudly created with <img src="{{ asset('/img/symfony-logo.svg') }}" />
            </div>
        </footer>
    </div>
    </body>
</html>