{% block content %}
<article>
    <div class="post-header">
        <h1 class="post-title"><a href="{{ path('post', { postid: post.id }) }}">{{ post.title }}</a></h1>
        <div class="post-info">
            {% if post.sticky %}
                <img src="{{ asset('/img/sticky.png') }}" />
            {% endif %}
            Posted on {{ post.createdAt }} by <a href="mailto:{{ post.createdBy.email }}">{{ post.createdBy.username }}</a>
        </div>
    </div>

    <div class="post-content">
        <p>
        {% if app.request.get("postid") %}
            {{ post.content | raw }}
        {% else %}
            {{ post.content | slice(0,20) | raw }}
        {% endif %}
        </p>
    </div>

    <div class="post-info">
        Category: <a href="{{ path('category', { categoryid: post.category.id }) }}">{{ post.category.title }}</a>
        {% if post.tags | length > 0 %}
        |
        Tags:
        {% for tag in post.tags %}
        <a href="{{ path('tag', { tagid: tag.id }) }}">{{ tag.title }}</a>
        {% endfor %}
        {% endif %}
        |
        <a href="{{ path('post', { postid: post.id }) }}#post-comments">Comments {{ post.comments | length }}</a>
    </div>
    
    {% if app.request.get("postid") %}
    {% form_theme comment_form "MylkBlogBundle:Default:captcha.html.twig" %}
        
    <a name="post-comments"></a>
    <div class="post-comments">
        <h3>Comments</h3>
        
        {% for comment in post.comments %}
        <div>
            <div>
                <div class="post-info">Posted on {{ comment.createdAt }} by <a href="mailto:{{ comment.email }}">{{ comment.username }}</a></div>
            </div>

            <div>
                <p>{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}
        <br />
    
        <h3>Leave a comment</h3>
        
        {% for error in app.session.flashbag.get("error") %}
            <div class="alert-error">
                {{ error }}
            </div>
        {% endfor %}

        {{ form_start(comment_form) }}
        <table>
            <tr>
                <td>{{ form_label(comment_form.username) }}</td>
                <td>{{ form_widget(comment_form.username) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(comment_form.email) }}</td>
                <td>{{ form_widget(comment_form.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(comment_form.content) }}</td>
                <td>{{ form_widget(comment_form.content) }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form_widget(comment_form.post, {"attr": { "value": post.id } }) }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form_widget(comment_form.captcha) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right">{{ form_widget(comment_form.send) }}</td>
            </tr>
            <tr style="display:none;">
                <td>{{ form_rest(comment_form) }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
</article>
{% endblock content %}