{% extends "MylkBlogBundle:Default:index.html.twig" %}

{% block content %}
<article>
    <div class="post-header">
        <h1 class="post-title"><a href="{{ path('post', { postid: post.id }) }}">{{ post.title }}</a></h1>
        <div class="post-info">Posted on {{ post.createdAt }} by <a href="mailto:{{ post.user.email }}">{{ post.user.username }}</a></div>
    </div>

    <div class="post-content">
        <p>{{ post.content | raw }}</p>
    </div>

    <div class="post-info">
        Category: <a href="#">{{ post.category.title }}</a>
        |
        Tags: <a href="#">{{ post.tag.title }}</a>
        |
        <a href="#">Comment</a> <a href="#">(?)</a>
    </div>
        
    <div class="post-comments">
        <h3>Comments</h3>
        
        <div>
            <div>
                <div class="post-info">Posted on 22 June, 2014 by Mr. Mister</div>
            </div>

            <div>
                <p>This is the comment body.</p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}